@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,100;0,900&display=swap');

html {
    height: 100%;
    visibility: hidden;
}

pre, h1, p {
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: normal;
}

body {
    display: flex;
    flex-direction: column;

    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    background-color: #ECEFFB;
}

#content-and-footer {
    order: 2;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    width: 100%;
}

header {
    order: 1;
    flex: 0 0 auto;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    width: 100%;
    z-index: 2;

    background-color: #4E577A;
    -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}

#header-text {
    order: 1;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    width: 100%;

    color: #fdfdff;
}

#header-text h1 {
    order: 1;
    align-self: center;

    padding: 1%;
    margin: 0;
}

#header-text p {
    order: 2;
    align-self: center;

    padding: 1%;
    margin: 0;
}

nav {
    order: 2;

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    width: 100%;
}

nav a, #nav-drop {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;

    font-family: 'Roboto', sans-serif;
    font-size: 1.3em;
    font-weight: 900;
    text-align: center;
    text-decoration: none;
    color: #101018;
}

nav a:hover, #nav-drop:hover {
    background-color: #9fa3b6;
    transition: all 0.3s ease 0s;
}

#nav-drop {
    cursor: pointer; /* todo */
}

.nav-selected {
    flex-grow: 3;
    padding: 10px 0;
}

.nav-selected:after {
    content: "";
    height: 3px;
    width: 90%;
    border-bottom: solid 3px #fdfdff;
}

main {
    order: 1;
    position: relative; /* need this to position inner content */
    flex: 1 0 auto;

    display: flex;
    flex-direction: column;

    width: 100%;
}

.img-crop {
    width: 200px;
    height: 200px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin: 20px;
}

img {
    display: block;

    margin: 0 auto;
    width: 100%;
}

.page-block {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    border-bottom: dashed 2px grey;
    width: 100%;
}

.block-header {
    order: 1;

    width: 98%;
    padding-left: 2%;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.3em;
    font-weight: 700;
    text-align: left;
    color: #101018;
}

.block-contents {
    order: 2;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#about .photo {
    order: 2;
    flex-grow: 1;
    flex-basis: 20% auto;
}

#about article {
    order: 3;
    flex-grow: 4;
    padding-left: 1%;

    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: 400;
    color: #101018;

    text-align: left;
    text-indent: 3em;
    line-height: 1.5em;
}

#code-sample {
    width: 100%;
}

#code-sample pre {
    padding: 0 3%;
    margin: 0;
}

#ascii-graphics pre {
    padding: 0 3%;
    margin: 0;
}

#quote {
    background-color: #d8d9d9;
    padding: 0;
}

.gradient {
    background-color: #f5d5e5;
}

footer {
    order: 2;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 98%;

    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: 400;
    color: #fdfdff;
    padding: 1%;
    background-color: #4E577A;
}

#footer-contacts a {
    color: #fdfdff;
}

aside {
    position: fixed;
    right: 20px;
    bottom: 50px;
    width: 100px;
    height: 100px;
}

@media screen and (min-width: 0px) and (max-width: 580px) {
    aside {
        display: none;
    }
}

@media screen and (min-width: 581px) and (max-width: 1024px) {
    aside {
        display: block;
    }
}

table {
    padding: 1vw;
}

th:nth-child(1), td:nth-child(1) {
    width: 150px;
}

td:not(:first-child) {
    width: 100px;
}

tr:nth-child(even) {
    background: #8292d2
}

tr:nth-child(odd) {
    background: #c0ceea
}

.hide-overflow {
    overflow: hidden;
}

#big-hi {
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Roboto', sans-serif;
    font-size: 20vh;
    font-weight: 900;
    text-align: center;
    text-decoration: none;
    color: #101018;
}